:root {
    //--primary-p     :#8F8587;
    //background-color: #123456;
    --primary-p     :#0277BD;
    --primary-s     :#03B1DF;
    --primary-t     :#ffd080;
    --dark-p        :#8E418D;
    --dark-s        :#59B038;
    --dark-t        :#0098D4;
    --black-p       :#2b1716;
    --black-m       :#3e3f3c;
    --black-s       :#493541;
    --white         :#ffffff;
    --ligth         :#efefef;
    --gray-p        :#9e9e9e;
    --gray-l        :#cfcfcf;
    --gray-d        :#707070;
    --gray-xl       :#EEEEEE;
    --blue-ligth    :#BBDEFB;
    --border-captcha:#caa6b1;
    --transparent   :rgba(0, 0, 0, 0.54);
}