@mixin flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-sidenav {
    width: 250px;
    border-right: none;
    padding: 6px 0;
    overflow-y: hidden;
}

// mat-nav-list {
//     background-color: #123456; // Cambia este valor por el color que desees
// }

.title-toolbar {
    flex: 1 1 auto;
    text-align: center;
}

.scroll-container {
    height: 80vh;
    overflow-y: auto;
}

.content-clients{
    @include flex-space;
    &-phone {
        font-size: 16px;
        color: var(--black-m);
    }
    
    &-name {
        font-size: 11px;
        color: var(--gray-p);
    }
    &-circle-badge {
        width: 20px;
        /* Ajusta el tamaño según tus necesidades */
        height: 20px;
        /* Ajusta el tamaño según tus necesidades */
        background-color: var(--primary-p);
        /* Color de fondo del círculo */
        color: white;
        /* Color del texto */
        border-radius: 50%;
        /* Hace que el div sea redondo */
        display: flex;
        align-items: center;
        justify-content: center;
        &-icon{
            font-size: 14px !important;
        }
    }
}


mat-sidenav-container {
    height: calc(100vh - 65px);
}

// mat-sidenav-content {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
// }

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100svh - 65px);
    border-radius: 10px;
    padding: 16px;
    max-width: 1520px;
    margin: 0 auto;
    background-color: var(--gray-xl);
}

.messages-area {
    width: 98%;
    display: flex;
    flex-direction: column-reverse;
    /* Muestra los mensajes desde la parte inferior */
    justify-content: flex-start;
    /* Empuja el contenido hacia arriba */
    height: calc(100vh - 250px);
    /* Ajusta la altura según sea necesario */
    max-height: calc(100vh - 250px);
    /* Evitar que crezca */
    background-color: white;
    padding: 15px;
    overflow-y: scroll;
    scrollbar-width: thin;
    /* Hace que la barra de desplazamiento sea más delgada */
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);

    &-hour {
        font-size: 11px;
        font-weight: 200;
    }
}

/* Forzar la visibilidad del scroll */
.messages-area::-webkit-scrollbar {
    width: 8px;
    /* Ajusta el tamaño de la barra de desplazamiento */
}

.messages-area::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    /* Color del thumb */
    border-radius: 4px;
}

.messages-area::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    /* Color del track */
}

.messages {
    display: flex;
    flex-direction: column;
    /* Muestra los mensajes desde la parte inferior */
    justify-content: flex-end;
    /* Empuja el contenido hacia arriba */
    flex-grow: 1;
    /* Permite que crezca dentro de messages-area */
    min-height: calc(100% + 50px);
    /* Asegura un poco de espacio extra para forzar el scroll */
}

/* Estilos para mensajes de cliente y empleado */
.client_message,
.employee_message {
    width: 50%;
    height: auto;
    /* Se adapta al tamaño del contenido */
    padding: 10px 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
    /* Asegura que las palabras largas se ajusten */
}

.client_message {
    background-color: var(--gray-xl);
}

.employee_message {
    background-color: var(--blue-ligth);
    align-self: flex-end;
    /* Alinea los mensajes del empleado a la derecha */
}

.topic {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
    letter-spacing: 1px;
}